.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin-left: 310px;
    margin-right: 10px;
    width: 80%;
}

.about__card {
    background: var(--color-bg-variant);
    border: 2px solid transparent;
    border-radius: 5rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
    
}

.about__text {
   text-align: center;
}



.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.96rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6 rem;
    color: var(--color-light);

}

.btn btn-primary {
    margin-left: 20%;

}

/* pre tablety */



/* pre mobily */